torch==1.4.0
scipy==1.4.1
faiss==1.6.3
numpy==1.18.1
torchvision==0.5.0
h5py==2.10.0
matplotlib==3.2.1
pandas==1.0.3
altair==4.1.0
autocorrect==1.1.0
bcolors==1.0.2
bert_serving==0.0.1
cube==0.0.3
gensim==3.8.3
nltk==3.5
Pillow==7.1.2
pyttsx3==2.87
scikit_learn==0.23.0
streamlit==0.60.0
nlpcube==0.1.0.8